<nav class="flex w-full space-x-3 bg-gradient-to-r from-violet-500 to-fuchsia-500">
  <div class="w-1/3 justify-left">
      <h1>Ramya and Sai's Wedding</h1>
  </div>
  <div class="w-2/3 float-right">
    <a routerLink="/home" routerLinkActive="visited:text-white-600 bg-fuchsia-500"  class="font-medium px-3 py-2 text-slate-700 rounded-lg hover:bg-slate-100 hover:text-slate-900">Home</a>
    <a routerLink="/invitation" routerLinkActive="visited:text-white-600 bg-fuchsia-500"  class="font-medium px-3 py-2 text-slate-700 rounded-lg hover:bg-slate-100 hover:text-slate-900">Invitation</a>
    <a routerLink="/engagement" routerLinkActive="visited:text-white-600 bg-fuchsia-500"  class="font-medium px-3 py-2 text-slate-700 rounded-lg hover:bg-slate-100 hover:text-slate-900">Engagement</a>
    <a routerLink="/marriage" routerLinkActive="visited:text-white-600 bg-fuchsia-500"  class="font-medium px-3 py-2 text-slate-700 rounded-lg hover:bg-slate-100 hover:text-slate-900">Marriage</a>
  </div>
</nav>
<router-outlet></router-outlet>


