<nav class="flex justify-left space-x-4 bg-gradient-to-r from-violet-500 to-fuchsia-500">
  <a routerLink="/home" routerLinkActive="visited:text-white-600 bg-fuchsia-500"  class="font-medium px-3 py-2 text-slate-700 rounded-lg hover:bg-slate-100 hover:text-slate-900">Home</a>
  <a routerLink="/invitation" routerLinkActive="visited:text-white-600 bg-fuchsia-500"  class="font-medium px-3 py-2 text-slate-700 rounded-lg hover:bg-slate-100 hover:text-slate-900">Invitation</a>
  <a routerLink="/engagement" routerLinkActive="visited:text-white-600 bg-fuchsia-500"  class="font-medium px-3 py-2 text-slate-700 rounded-lg hover:bg-slate-100 hover:text-slate-900">Engagement</a>
  <a routerLink="/marriage" routerLinkActive="visited:text-white-600 bg-fuchsia-500"  class="font-medium px-3 py-2 text-slate-700 rounded-lg hover:bg-slate-100 hover:text-slate-900">Marriage</a>
</nav>
<router-outlet></router-outlet>


